
body{
    padding-top: 80px;
}
.container{
    max-width: 1200px;
}

/*header*/
.header--content-container,
.header--container{
    height: 80px;
}
.header-logo{
    height: 60px;
    width: 60px;
}

/*fin del header */


/*first section*/

.slide-content--container{
    text-align: center;
}

.slide-content--container h2{
    font-size: 4.6rem;
}
.slide-content--container p{
    font-size: 2.5rem;
}


/*Slider*/
.slide-content--container{
    width: 90%;
}


/*second header*/
.main--second-section--container{
    max-width: 1200px;
    
}

/*Second section*/
.main--second-section--container{
    max-width: 1200px;
}

/*third section*/
.main--third-section--container{
 max-width: 1200px;   
}

/*Fourt section*/
.main--fourt-section--container{
    max-width: 1200px;
}

/*footer*/
.footer--container{
    max-width: 1200px;
}


/*Gallery styles*/
.gallery-container{
    grid-template-columns: repeat(4, 1fr);
}

.gallery-card{
    height: 300px;
}