
/*header*/
.header--container{
    max-width: 1024px;
    margin: 0 auto;
}
.header-logo p{
    margin: 0;
    font-size: 4rem;
}
/*fin del header */


/*first section*/
.main--first-section--container{
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.main--first-section--container{
    max-width: 1200px;
}
.main--first-section--container h1{
    font-size: 4.6rem;
}



/*second header*/
.main--second-section--container{
    max-width: 1200px;
    
}