
/*header*/

.header--container{
    max-width: 1024px;
    margin: 0 auto;
    height: 80px;
}
.header-logo{
    height: 60px;
    width: 60px;
}

/*fin del header */


/*first section*/
.main--first-section--container{
    margin-top: 100px;
    height: calc(100vh - 100px);
}

.main--first-section--container{
    max-width: 1200px;
}
.main--first-section--container h1{
    font-size: 4.6rem;
}


.slide-content--container h2{
    font-size: 4.6rem;
}
.slide-content--container p{
    font-size: 2.5rem;
}


/*Slider*/
.slide-content--container{
    max-width: 1200px;
}


/*second header*/
.main--second-section--container{
    max-width: 1200px;
    
}

/*Second section*/
.main--second-section--container{
    max-width: 1200px;
}

/*third section*/
.main--third-section--container{
 max-width: 1200px;   
}

/*Fourt section*/
.main--fourt-section--container{
    max-width: 1200px;
}

/*footer*/
.footer--container{
    max-width: 1200px;
}