/*Inicio del contenedor del slider*/
.main--first-section{
    background-color: rgb(124, 143, 131);
    margin-top: 60px;  
    overflow: hidden;

}
.contenedor--first-section{
    width: 100%;
    height: 50vh;
}

.slider-contenedor{
    width: 100%;
    height: 100%;
    display: flex;
}


/*experimentacion*/
.slide-background-image{
    height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.4);
    position: absolute;
}

.first{
    background-image: url(../img/pintor_511x511.png);
}

.second{
    background-image: url(../img/drywall_530x530.jpg);
}

.slide-content--container{
    position: relative;
    left: 5%;
    width: 90%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*fin de la experimentacion*/



/*Fin del contenedor del slider*/

.slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.slide:nth-child(1){
    color: white;
    /* Con la imagen de background*/

    /*comentado para experimentar separando divs*/
    /*background-image: url(../img/pintor_511x511.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.4);*/
    /*fin del experimento*/


}

.slide:nth-child(2){
    color: white;
}
.slide:nth-child(3){
    background: #bbdb29;
    color: white;
}
.slide:nth-child(4){
    background: #681a1a;
    color: white;
}
.slide:nth-child(5){
    background: #1041c9;
    color: white;
}




 
.slide-content--container p{
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    font-size: 1rem;
    
}

.slide-content--container h2{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.slide-content--container a{
    color: white;
    background-color: #b40808;
    width: 100px;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}