/*Inicio del contenedor del slider*/
.main--first-section{
    background-color: rgb(124, 143, 131);
    margin-top: 60px;  
}
.contenedor--first-section{
    width: 100%;
    height: 50vh;
    overflow: hidden;

}

.slider-contenedor{
    width: 100%;
    height: 100%;
    display: flex;
}


/*Fin del contenedor del slider*/

.slide{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between; 
    align-items: center;
    flex-shrink: 0;
    padding-bottom: 15px;
}

.slide:nth-child(1){
    color: white;

    /* Con la imagen de background
    background-image: url(../img/ban-pintura.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
}
.slide:nth-child(2){
    background-image: url();
    color: white;
}
.slide:nth-child(3){
    background: #bbdb29;
    color: white;
}
.slide:nth-child(4){
    background: #681a1a;
    color: white;
}
.slide:nth-child(5){
    background: #1041c9;
    color: white;
}




.slide > img{
    height: 50%;
    width: 100%;
    position: center;
}
.slide > div{
    width: 90%;
}

.slide  div p{
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    
}

.slide a{
    color: white;
    background-color: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}