*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

/*componente header-1*/

/*Estilos básicos del componente header*/

.header--content-container{
    z-index: 2;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px -3px rgb(0 0 0 / 75%);
}
.header-logo{
    background-image: url('../img/SVG/Recurso1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.header--container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

/*navegation*/

.navegation{
    z-index: 10;
    position: fixed;
    display: none;
    width: 100vw;
    height: calc(100% - 60px);
    background-color: white;
    top: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 0;
}
.navegation ul{
    height: 100%;
    display: block;
    padding-top: 20%
}
.navegation ul li{
    
    background-color: #ffebeb;  /* <------------ color de los botones del menú desplegable*/
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.navegation ul li a{
    padding: 20px 50%;
    display: block;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
}
 
.hamburger{
    z-index: 11;
    padding: 0px;
}

/*terminaron los estilos básicos del componente header-1*/
/*Estilos adicionales del header-1*/
.navegation ul li a:hover{
    color: rgb(202, 0, 0);
}
/*Terminaron los estilos adicionales del header-1*/
/*Terminó el componente header-1*/




/*Second Section*/
.main--second-section--container{
    width: 100%;
}
.main--second-section--container{
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.main--second-section--container h2{
    font-weight: 300;
    font-size: 3rem;
}

.second-section--content--container{
    width: 250px;
}

.second-section--content--icon{
    max-width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.us{
    background-image: url('../icons/users-solid.svg');
}
.mission{
    background-image: url('../icons/mission.svg');
}
.vision{
    background-image: url('../icons/vision.svg');
}